# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfplan
*.tfvars
*.tfvars.json
crash.log

# IDE
.idea/
.vscode/
*.swp

harbor_server_ip.txt
ca_server_ip.txt
inventory.yml
painkiller.sh